@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>RecordsMVC</h1>
            <p class="lead">
                Witamy na naszej stronie.
                @if (!Request.IsAuthenticated)
                {
                    @: Utwórz konto aby przeglądać.
                }
            </p>
            <hr />
        </div>
    </div>
</div>